/*Dark Theme*/
:root {
  --bg-color: #f1f1f1;
  --border-color: #dddddd;
}

body[data-theme="light"] {
  --bg-color: #f1f1f1;
  --border-color: #dddddd;
  --input-color: #fff;
  --btn-color: #17a2b8;
}

body[data-theme="dark"] {
  --bg-color: #333;
  --border-color: #222;
  --input-color: #111;
  --btn-color: #616161;
  --color-text: white;
}

/*Start Global Values*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--color-text);
  transition: 0.3s linear;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -ms-transition: 0.3s linear;
  -o-transition: 0.3s linear;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

input:focus {
  outline: none;
}

.button-hover:hover {
  letter-spacing: 1px;
}
/*End Global Values*/

/*Start Heder*/
.header {
  padding: 15px;
  text-align: center;
}

.header h3 {
  font-size: 22px;
}

.header p {
  line-height: 2.5;
  font-size: 18px;
}
/*End Heder*/

/*Start Product-Info*/
.product-details,
.product-search,
.table {
  width: 80%;
  margin: auto;
}

.product-details input,
.product-search input {
  width: 100%;
  padding: 15px;
  background-color: var(--input-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  margin-bottom: 5px;
  color: var(--color-text);
}

.product-details .product-price {
  display: flex;
  column-gap: 5px;
}

.product-details .product-price .total {
  background-color: var(--input-color);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid var(--border-color);
  margin-bottom: 5px;
}

.product-details .product-price .total::before {
  content: "Total:";
  margin-right: 5px;
}

.product-details .create,
.product-search .search-buttons button,
.delete-all button {
  width: 100%;
  margin: auto;
  display: block;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: var(--btn-color);
  border: none;
  color: white;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
/*End Product-Info*/

/*Start Product-Search*/
.product-search {
  margin: 8px auto;
}

.product-search .search-buttons {
  display: flex;
  justify-content: space-between;
}

.product-search .search-buttons button {
  width: 49.5%;
  display: inline-block;
}
/*End Product-Search*/

/*Start Table*/

.table table {
  width: 100%;
  margin-top: 20px;
}

.table table tbody {
  text-align: center;
}

.table table thead tr th,
.table table tbody tr td {
  padding: 5px;
}

.table table tbody tr td button {
  padding: 10px;
  background-color: var(--btn-color);
  color: white;
  border: none;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  cursor: pointer;
}
/*End Table*/

/*Buttons*/
.delete-all {
  width: 80%;
  margin: auto;
}

.delete-all button {
  background-color: rgba(255, 0, 0, 1);
}

.del-btn {
  background-color: red !important;
}

.dark {
  background-color: var(--btn-color);
  border: var(--border-color);
  padding: 7px 10px;
  color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  cursor: pointer;
}
